*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    font-family:'Roboto', sans-serif;
 
}
h1{
    font-size: 3.5em;
}
h2{
    font-size: 2.7em;
}
h3{
    font-size: 2em;
}
p{
    font-size: 1.25em;
}
ul{
    list-style:none;
}
li{
    font-size: 1.25em;
}
button{
  font-size: 1em;
  font-weight: bold;
  padding: 10px 30px; 
  border-radius: 10px;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  border: 1px solid;
  box-shadow: 2px 2px 10px;
  color: white
}
/* Para que cuando se coloque el cursor encima de un boton, aparezca la manito y cambia un poco el color*/
button:hover {
    background-image: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
    cursor: pointer;  
}
.container
{
    max-width: 1400px;
    margin: auto;
}
.color-acento{
    color: blueviolet;
}

header{
    background-color: rgb(245,245,245);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #6a11cb;
    font-size: 1.45em;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;

}
/* Para quitar el subrayado a los link se utiliza text-decoration:none */
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color:black;

}
/* Para que al pasar el cursor encima de los link del header, cambie el color */
header a:hover{
    color: blueviolet;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    flex-direction: column;
    height: 70vh;
    width: 100%;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../imagenes/principal.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero h1{
    color: white;
}
#hero button{
    font-size: 1.75em;
    margin-top: 100px;
}
#about .container{
    text-align: center;
    padding: 200px 12px;
    
}
#courses {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: white;
    text-align: center;
}
#courses .container{
    padding: 100px 12px;

}
#courses h2{
    margin-top: 0px;
    font-size: 4em;
    
}
#courses p{
    display: none;
    
}
#courses .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 35px;
}


.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../imagenes/photoshop.png");  
}

.carta p{
    font-size: 25px;
    font-weight: bold;
    margin-top: 40px;
}
.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../imagenes/Ilustrator.jpg");
    
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../imagenes/indesign.png");

}

#characteristics .container{
    text-align: center;
    padding:  200px 12px;
    
}

#characteristics li{
    margin: 15px 0px;
    font-weight: bold;
}

#apply{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    flex-direction: column;
    height: 40vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../imagenes/final.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#apply h2{
    font-size: 9vw;
}
#apply button{
    font-size: 5vw;
}

footer{
    background-color: rgb(150,150,150);

}
footer p{
    margin: 0;
    color: rgb(80, 80, 80);
    padding: 12px;
}
footer .container{
    height: 150px;
    display: flex;
    justify-content:center;
    align-items: flex-end;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #hero h1{
        font-size: 5em;
    }

    #about .container{
        display: flex;
        justify-content:space-evenly;
    }
    #about .img-container{
       background-image: url("../imagenes/2.jpg");
        background-size: cover;
        background-position: center;
        height: 500px;
        width: 400px; 
    }
    #about .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
    }
    #about .texto p{
        font-size: 25px;
        margin-top: 30px;
        text-align: center;
        
    }
    #about h2{
        margin-top: 0px;
    }
    #courses .programas{
        display:flex;
        justify-content: center;
    }
    #courses p{
        display: block;
        margin-bottom: 50px;
    } 
    #courses .carta{
        padding: 50px;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    }  
    #courses h3{
        margin-top: 0;
    } 
    #courses h2{
        font-size: 4em;
    }
    #characteristics {
        background-image: url(../imagenes/5.jpg);
        background-repeat: no-repeat;
        background-size: 35%;
       
        background-position: calc(100vw - 700px) 120px ;
    }
    #characteristics .container{
        text-align: initial;
    }
    #characteristics ul{
        margin-left: 200px;
        font-size: 25px;

    }
    #apply h2{
        font-size: 4em;
    }
    #apply button{
        font-size: 2em;
        margin-top: 100px;
    }

    footer .container{
         justify-content: flex-end;
    }

}   
    @media (min-width: 1100px){
     #characteristics{
        background-position-x: calc(100vw - 800px);
     }   
    }   